*{
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000001;
    margin: 0;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #FFF;
    text-shadow: 2px 2px 10px #5c05f1;
    padding: 30px;
    font-size: 60px;
    border-radius: 20px;
    position: relative;
}
h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #5c05f1;
    border-radius: 20px;
    box-shadow: 0 0 20px #5c05f1;
    animation: glow 2s infinite alternate;
}
@keyframes glow {
    from {
        box-shadow: 0 0 10px #5c05f1;
    }
    to {
        box-shadow: 0 0 30px #5c05f1;
    }
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pc {
    margin: 10px;
    margin-left: 40px;
    padding: 20px;
    border: 2px solid #5c05f1;
    width: 300px;
    border-radius: 15px;
    height: 75px;
    text-align: center;
    cursor: pointer;
    font-size: xx-large;
    text-shadow: #FFF 0px 0px 10px;
}
.pc:hover {
    box-shadow: blue 0px 0px 30px,
                white 0px 0px 20px;
    
    font-size: 40px;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;

}
.pc:active {
    box-shadow: blue 0px 0px 10px,
                white 0px 0px 5px;
    transform: scale(0.95);
    transition: all 0.1s ease-in-out;
}

.pccontent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 60%;
    border: none;

}
.pccontent > div  {
    margin: 10px;
    padding: 10px;
    border: 2px solid #5c05f1;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    text-shadow: #FFF 0px 0px 5px;
    padding: -20px;
}
.termo {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.pc_id {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.thermometer-container {
    width: 60px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thermometer-body {
    width: 20px;
    height: 250px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse; 
    overflow: hidden;
}
.thermometer-fluid {
    width: 100%;
    height: 0; 
    transition: height 1s ease-in-out, background-color 1s;
}

.thermometer-value {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}


.return{
    cursor: pointer;
    width : 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid #5c05f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.return:hover{
    box-shadow:#5c05f1 0 0 50px;
    background-image: linear-gradient(blue,purple);
    font-size: x-large;

}
